$color_principal: #A63232; 
$color_servicios_principales: #dfb5bd;
$color_footer: #F2ACB9;
$fuente_principal: 'Times New Roman', Times, serif;
$fuente_secundaria: 'PT Sans Narrow', sans-serif;
$fuente_subtitulo: 'Roboto Condensed', sans-serif;
$activar_gradiente_h2: true; /* VARIABLE TRUE O FALSE PARA ACTIVAR O DESACTIVAR LOS GRADIENTES DEL PROYECTO EN LA ETIQUETA H2!*/